<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 data-i18n="_HeaderGroups_"></h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row" data-ng-controller="GamesController">
			<div class="col-md-3 col-sm-6">
				<div class="service-wrapper">
				Games go here<br>
				<button value="get game id" />
				<!-- <h2>{{ worldcupteam.title }} {{ worldcupteam.ranking }}</h2>
			<p><strong>Abbreviation: </strong>{{ worldcupteam.code }}</p>
			<p><strong>Group: </strong>{{ worldcupteam.group }}</p>
			<p><a href="#/teams">All WorldCup teams</a></p> -->
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>