<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 data-i18n="_TeamsTitle_"></h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row" data-ng-controller="WorldCupController">
			<div class="col-sm-8" data-ng-repeat="worldcupteam in worldcupteams">
				<img src="img/flags/{{ worldcupteam.code }}.png">
				<a href="#/teams/{{ $index }}">{{ worldcupteam.title | capitalize }} {{ worldcupteam.ranking }} Group {{ worldcupteam.group | lowercase }}</a>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="footer-copyright" data-i18n="_CopyrightText_"></div>
			</div>
			<div class="col-md-4" ng-controller="LanguageCtrl">
				<a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
			</div>
		</div>
	</div>
</div>

<!-- <div data-ng-controller="WorldCupController">
  <h2>WorldCup Teams</h2>
  <div data-ng-repeat="worldcupteam in worldcupteams">
    <img src="img/flags/{{ worldcupteam.code }}.png">
    <a href="#/teams/{{ $index }}">{{ worldcupteam.title }} {{ worldcupteam.ranking }} Group {{ worldcupteam.group }}</a>
  </div>
</div> -->