<!-- <div class="row" data-ng-controller="SigninCtrl">
  <div class="span6">
    <form class="ng-pristine ng-valid">
      <p class="error"></p>
      <div class="control-group">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" placeholder="Email" ng-model="email">
      </div>
      <div class="control-group"><label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" ng-model="pass"></div>
        <div class="control-group">
          <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
          &nbsp;or&nbsp;<a href="#/signup" class="show-signup">Sign up</a>
        </div>
      </form>
      <p ng-show="err" class="error">{{err}}</p>
    </div>
  </div>
</div> -->

<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 data-i18n="_SigninTitle_"></h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row" data-ng-controller="SigninCtrl">
      <div class="col-sm-5">
        <div class="basic-login">
          <form class="ng-pristine ng-valid" role="form">
            <p ng-show="err" class="error">{{err}}</p>
            <div class="form-group">
              <label for="email"><i class="icon-user"></i> <b>Email</b></label>
              <input class="form-control" id="email" type="text" placeholder="Enter your email address" ng-model="email">
            </div>
            <div class="form-group">
              <label for="password"><i class="icon-lock"></i> <b>Password</b></label>
              <input class="form-control" id="password" type="password" placeholder="Enter your password" ng-model="pass">
            </div>
            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox"> Remember me
              </label>
              <a href="page-password-reset.html" class="forgot-password">Forgot password?</a>
              <button type="submit" class="btn pull-right" ng-click="login()" data-i18n="_SigninTitle_"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/signup" class="show-signup">Sign up</a>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-7 social-login">
        <p>Or login with your Facebook or Twitter</p>
        <div class="social-login-buttons">
          <a href="#" class="btn-facebook-login">Login with Facebook</a>
          <a href="#" class="btn-twitter-login">Login with Twitter</a>
        </div>
        <div class="clearfix"></div>
        <div class="not-member">
          <p>Not a member? <a href="#/signup" data-i18n="_SignupTitle_"></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="footer-copyright" data-i18n="_CopyrightText_"></div>
      </div>
      <div class="col-md-4" ng-controller="LanguageCtrl">
        <a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
      </div>
    </div>
  </div>
</div>