<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 data-i18n="_HomeTitle_"></h1>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12" ng-controller="LanguageCtrl">
				<a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
				<br><a href="#/sitemap">Sitemap</a>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">&copy; 2014 All rights reserved.</div>
			</div>
		</div>
	</div>
</div>