<div ng-controller="FooterController" id="footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-md-6">
          {{ today | date:'y' }} <div class="footer-copyright" data-i18n="_CopyrightText_"></div>
        </div>
        <div class="col-md-4" ng-controller="LanguageCtrl">
          <a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
        </div>
      </div>
      <footer>
    </div>
</div>