<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 data-i18n="_SitemapTitle_"></h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12" ng-controller="LanguageCtrl">
			<a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<ul class="sitemap">
					<li><a href="#">Home Page</a></li>
					<li>
						<a href="#">Services</a>
						<ul>
							<li><a href="#">Morbi eleifend</a></li>
							<li><a href="#">Praesent aliquam</a></li>
							<li><a href="#">Nullam dictum augue</a></li>
							<li><a href="#">Integer non risus posuere ipsum</a></li>
							<li><a href="#">Vivamus volutpat turpis ut ligula tempor</a></li>
							<li><a href="#">Aliquam nibh ante, dapibus ut tortor</a></li>
							<li><a href="#">Nullam at felis velit. Integer</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<ul class="sitemap">
					<li>
						<a href="#">Blog</a>
						<ul>
							<li><a href="#">Praesent consequat rutrum</a></li>
							<li><a href="#">Duis eu turpis quam</a></li>
							<li><a href="#">Aliquam dapibus magna ac</a></li>
							<li><a href="#">Suspendisse et auctor</a></li>
							<li><a href="#">Donec volutpat lacus lorem</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<ul class="sitemap">
					<li>
						<a href="#">Integer non</a>
						<ul>
							<li><a href="#">Morbi eleifend</a></li>
							<li><a href="#">Praesent aliquam</a></li>
							<li><a href="#">Nullam dictum augue</a></li>
							<li><a href="#">Integer non risus posuere ipsum</a></li>
							<li><a href="#">Vivamus volutpat turpis ut ligula tempor</a></li>
							<li><a href="#">Aliquam nibh ante, dapibus ut tortor</a></li>
							<li><a href="#">Nullam at felis velit. Integer</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">&copy; 2014 All rights reserved.</div>
			</div>
		</div>
	</div>
</div>