<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 data-i18n="_SitemapTitle_"></h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<ul class="sitemap">
					<li><a href="#" data-i18n="_HomeTitle_"></a></li>
					<li>
						<a href="#">Teams</a>
						<ul>
							<li><a href="#/teams">All Teams</a></li>
							<li><a href="#/groups">Groups</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<ul class="sitemap">
					<li>
						<a href="#">Games</a>
						<ul>
							<li><a href="#">Praesent consequat rutrum</a></li>
							<li><a href="#">Duis eu turpis quam</a></li>
							<li><a href="#">Aliquam dapibus magna ac</a></li>
							<li><a href="#">Suspendisse et auctor</a></li>
							<li><a href="#">Donec volutpat lacus lorem</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<ul class="sitemap">
					<li>
						<a href="#">Pages</a>
						<ul>
							<li><a href="#/sitemap" data-i18n="_SitemapTitle_"></a></li>
							<li><a href="#/contact" data-i18n="_ContactTitle_"></a></li>
							<li><a href="#/signin" data-i18n="_SigninTitle_"></a></li>
							<li><a href="#/signup" data-i18n="_SignupTitle_"></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="footer-copyright" data-i18n="_CopyrightText_"></div>
			</div>
			<div class="col-md-4" ng-controller="LanguageCtrl">
				<a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#" ng-click="setSpanishLanguage()">Spanish</a> | <a href="#" ng-click="setRussianLanguage()">Russian</a>
			</div>
		</div>
	</div>
</div>